<%- include('layout/header.ejs') %>
<%- include('layout/navbar.ejs') %>

<% if(session.cart) { %>
<section class='cart'>
  <div class="order-container">
    <div class="top-text">
      <img src='/img/cart-black.png' alt=''>
      <h1>Order summary</h1>
    </div>
    <hr>
    <div class="pizza-list">
      <% for(let pizza of Object.values(session.cart.items)) { %>
      <div class="pizza">
        <div class='block-pizza block-first'>
            <img src='/img/<%= pizza.item.image %>' alt=''>
          <div class="text-order">
            <h1><%= pizza.item.name %></h1>
            <span><%= pizza.item.size %></span>
          </div>
        </div>
        <div class='block-pizza'>
          <span class='quantity-pizza'><%= pizza.qty %> Pcs</span>
        </div>
        <div class='block-pizza'>
          <span class='price-pizza'>&#8372 <%= pizza.item.price * pizza.qty %></span>
        </div>
      </div>
      <% } %>
    </div>
    <hr>
    <div class="text-right">
      <div class="total-amount">
        <span class='text'>Total Amount:</span>
        <span class='amount'>&#8372 <%= session.cart.totalPrice %></span>
      </div>
      <div class="contacts">
        <form action=''>
          <input type='tel' class='phone-address' placeholder='Phone number'>
          <input type='text' class='phone-address' placeholder='Address'>
          <div>
            <button type='submit' class='btn'>Order Now</button>
          </div>
        </form>
      </div>
      <!-- <a href='/login' class='btn'>Login to continue</a> -->
    </div>
  </div>
</section>
<% } else { %>

<section class='empty-cart'>
  <h1>Cart Empty</h1>
  <p>
    You probably haven't ordered a pizza yet.<br>
    To order a pizza, go to the main page.
  </p>
  <img src='img/empty-cart.png' alt=''>
  <a href='/'>Go back</a>
</section>
<% } %>

<%- include('layout/footer.ejs') %>