<%- include('layout/header.ejs') %>
<%- include('layout/navbar.ejs') %>

<section class='hungry'>
  <!-- всплывающее уведомление о том, что пицца добавлена в корзину -->
  <div class='text-added'>
    <p>Pizza added to cart!</p>
  </div>
  <!-- -->

  <div class="main-text">
    <h6><em>Are you hungry?</em></h6>
    <h1>Don't Wait !</h1>
    <button class='btn'>Order Now</button>
  </div>
  <div class='main-img'>
    <img src='img/pizza.png' alt=''>
  </div>
</section>

<div class='text-between'>
  <h1 class='pizza-text'>All Pizzas</h1>
</div>

<section class="all-pizza" id='scroll'>
  <% pizzas.forEach( (pizza) => { %>
    <div class="card" id='scroll'>
      <img src='/img/<%= pizza.image %>' alt=''>
      <h3 class='name'><%= pizza.name %></h3>
      <div>
        <span class='size'><%= pizza.size %></span>
      </div>
      <span class="price">&#8372 <%= pizza.price %></span>
      <button class='addAnimation add-btn' data-pizza='<%= JSON.stringify(pizza) %>'>+ Add</button>
    </div>
  <% }) %>
</section>

<script src='javascripts/index.js'></script>
<script src='javascripts/app.js' defer></script>
<%- include('layout/footer.ejs') %>